@charset "UTF-8";
@font-face {
  font-family: 'Cormorant';
  src: url("/fonts/Cormorant-Light.eot");
  src: url("/fonts/Cormorant-Light.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Cormorant-Light.woff") format("woff");
  src: url("/fonts/Cormorant-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Cormorant';
  src: url("/fonts/Cormorant-Regular.eot");
  src: url("/fonts/Cormorant-Regular.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/Cormorant-Regular.woff") format("woff");
  src: url("/fonts/Cormorant-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'San Francisco Pro Display';
  src: url("/fonts/SFProDisplay-Thin.eot");
  src: url("/fonts/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/SFProDisplay-Thin.woff") format("woff");
  src: url("/fonts/SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: 'San Francisco Pro Display';
  src: url("/fonts/SFProDisplay-Ultralight.eot");
  src: url("/fonts/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/SFProDisplay-Ultralight.woff") format("woff");
  src: url("/fonts/SFProDisplay-Ultralight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: 'San Francisco Pro Display';
  src: url("/fonts/SFProDisplay-Light.eot");
  src: url("/fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/SFProDisplay-Light.woff") format("woff");
  src: url("/fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'San Francisco Pro Display';
  src: url("/fonts/SFProDisplay-Regular.eot");
  src: url("/fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/SFProDisplay-Regular.woff") format("woff");
  src: url("/fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display';
  src: url("/fonts/SFProDisplay-Medium.eot");
  src: url("/fonts/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/SFProDisplay-Medium.woff") format("woff");
  src: url("/fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
}

.header {
  background-color: #282828;
  height: 850px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 26px 0 56px;
}

.header__slider {
  display: flex;
  justify-content: center;
}

.header__date {
  color: #fff;
}

.header__circle {
  position: absolute;
  width: 480px;
  height: 480px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.header__description {
  color: #fff;
}

.header-slide {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-slide img {
  height: 100%;
  width: auto;
}

.header-slide__title {
  display: flex;
  justify-content: center;
  font-family: Cormorant;
  position: absolute;
  letter-spacing: 0.15em;
  font-size: 180px;
  top: calc( 50% - 109px);
  left: 0;
  right: 0;
  font-weight: 300;
  color: #fff;
}

.header-container {
  width: 100%;
  overflow: hidden;
}

.contact {
  display: flex;
}

.contact_us {
  color: #fff;
}

.contact_us__border {
  background-color: #ffffff;
  width: 30px;
  height: 1px;
  margin: 8px 10px;
}

.gallery-slider {
  overflow: hidden;
  position: relative;
  padding: 0 calc((100% - 1200px)/2);
}

.gallery-slide {
  width: 100%;
}

.gallery-slide > img {
  width: 100%;
}

.gallery-navigation {
  display: flex;
  justify-content: space-between;
  width: 1320px;
  left: -60px;
  top: calc( 50% - 18px);
  position: absolute;
}

.gallery-arrow {
  width: 30px;
  height: 30px;
  background-color: #000;
}

.gallery-bullet {
  width: 20px;
  height: 20px;
}

.burger-active-centr {
  background: transparent;
}

.burger-active-top {
  transform: rotate(45deg);
  bottom: 9px;
}

.burger-active-bottom {
  transform: rotate(-45deg);
  top: 9px;
}

.burger {
  cursor: pointer;
  justify-content: center;
}

.burger__border {
  background-color: #ffffff;
  width: 30px;
  height: 1px;
  margin: 5px;
}

.burger__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 225px;
}

.burger__menu-messenger {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 250px;
}

.burger__menu-wrapper {
  display: none;
}

.menu__title {
  color: #ffffff;
  font-size: 60px;
  font-family: Cormorant;
  line-height: 72px;
  padding-right: 50px;
}

.menu__messenger {
  color: #C7C7C7;
  padding-right: 50px;
}

.menu__line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reserve {
  display: flex;
}

.reserve_now {
  color: #fff;
}

.reserve_now__border {
  background-color: #ffffff;
  width: 30px;
  height: 1px;
  margin: 8px 10px;
}

.map {
  background-color: #3D3D3D;
  color: #C7C7C7;
  font-weight: 400;
}

.map-address {
  font-family: San Francisco Pro Display;
  font-size: 14px;
}

.map-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.map-title {
  color: #fff;
  font-weight: 300;
  width: 100%;
}

.map-wrap-text {
  display: flex;
  justify-content: space-between;
}

.map-text {
  width: 45%;
}

.map-maps {
  height: 620px;
}

.map-buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.map-button-swap {
  font-weight: 500;
  cursor: pointer;
  color: #C7C7C7;
  transition: 0.4s;
  border: 1px solid transparent;
  padding-bottom: 6px;
}

.map-button-swap.active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.gallery-wrap {
  display: flex;
  padding-bottom: 70px;
}

.gallery-title {
  font-weight: 300;
  width: 28%;
  padding-right: 7%;
}

.gallery-description {
  width: 35%;
  color: #8F8F8F;
}

.gallery-slide {
  width: 360px;
  margin-bottom: 20px;
}

.gallery-title {
  color: #3D3D3D;
  font-weight: 300;
}

.room-slider {
  margin-left: calc((100% - 1200px)/2);
}

.style {
  background-color: #3D3D3D;
}

.style-img-left {
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  padding-right: 200px;
}

.style-img-right {
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
  padding-left: 200px;
}

.style-title {
  margin-bottom: 50px;
  font-weight: 300;
  color: #ffffff;
}

.style-text {
  color: #8F8F8F;
  width: 40%;
  margin-left: 35%;
}

.style-wrap {
  margin-bottom: 150px;
}

.apartments-wrapper {
  display: flex;
  padding-bottom: 150px;
}

.apartments-wrapper-next {
  display: flex;
  padding-bottom: 150px;
}

.apartments-wrapper2 {
  display: flex;
}

.apartments-wrap {
  padding-right: 5%;
}

.apartments-wrap2 {
  padding-left: 5%;
}

.apartments-title {
  padding-top: 97px;
  color: #3D3D3D;
  font-weight: 300;
}

.apartments-title-Comfort {
  color: #3D3D3D;
  font-weight: 300;
  width: 100%;
}

.apartments-text {
  padding: 30px 0 50px;
  color: #8F8F8F;
}

.apartments-text-wrap {
  display: flex;
  justify-content: space-between;
}

.apartments-text-Comfort {
  color: #8F8F8F;
  padding: 0 5% 0 19%;
}

.apartments-button {
  background-color: #ffffff;
  width: 240px;
  height: 50px;
  border: 1px solid #3D3D3D;
  color: #3D3D3D;
}

.apartments-description {
  margin-bottom: 150px;
  font-weight: 100;
  font-size: 64px;
  line-height: 57px;
  text-align: center;
  color: #3D3D3D;
}

.special {
  justify-content: space-between;
  padding-bottom: 70px;
}

.valoclub {
  background-color: #3D3D3D;
}

.valoclub-title {
  padding-bottom: 90px;
  font-weight: 300;
  line-height: 38px;
  color: #ffffff;
}

.valoclub-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(241px, 1fr));
  grid-auto-rows: 100px;
  grid-column-gap: 12%;
  grid-row-gap: 90px;
}

.cart-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 18px;
}

.cart-title-description {
  color: #8F8F8F;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.team-title {
  padding-bottom: 50px;
  font-weight: 300;
  line-height: 38px;
  color: #3D3D3D;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 500px;
  grid-column-gap: 5%;
  grid-row-gap: 90px;
}

.team-cart {
  border-bottom: 1px solid #3D3D3D;
}

.name {
  margin-top: 25px;
  font-weight: 400;
  font-size: 18px;
  color: #3D3D3D;
  margin-bottom: 18px;
}

.position {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  color: #8F8F8F;
  margin-bottom: 18px;
}

.application {
  background-color: #3D3D3D;
  padding-top: 150px;
}

.application-adaptive {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.application-wrap {
  display: flex;
  justify-content: space-between;
}

.application-wrap-title {
  display: flex;
}

.application-title {
  padding: 0 12% 35px 0;
  font-weight: 300;
  color: #fff;
}

.application-text {
  color: #C7C7C7;
  line-height: 22px;
  padding-bottom: 12px;
}

.application-map {
  color: #fff;
  padding-bottom: 30px;
  font-size: 20px;
  text-transform: uppercase;
}

.application-cramp:first-of-type {
  margin-right: 50px;
}

.form {
  margin-right: 40px;
}

.field {
  background: transparent;
  border: none;
  border-bottom: 1px solid #8F8F8F;
  height: 30px;
  width: 380px;
  outline: none;
  margin-bottom: 35px;
}

.field.error {
  border-bottom: 1px solid red;
}

.field:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
  transition: 0.4s;
}

.field-btn {
  width: 240px;
  height: 50px;
  background-color: #3D3D3D;
  color: #C7C7C7;
  outline: none;
  border: 1px solid #fff;
  margin-bottom: 150px;
}

.checkbox {
  display: block;
  margin-bottom: 40px;
}

.checkbox-text {
  font-size: 14px;
  color: #C7C7C7;
}

.checkbox.checkmark:after {
  left: 8px;
  top: 6px;
  width: 6px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxinput {
  opacity: 0;
  height: 0;
  width: 0;
}

.checkboxinput:checked ~ .checkmark:after {
  display: block;
}

.checkmark {
  height: 23px;
  width: 22px;
  background-color: #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark {
  background-color: #3D3D3D;
}

.footer {
  background-color: #282828;
  color: #C7C7C7;
  min-height: 100px;
  padding: 26px 0;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 40px;
  font-weight: 300;
  font-family: Cormorant;
}

.slider-title {
  margin-bottom: 50px;
  font-size: 77px;
  font-family: Cormorant;
  font-weight: 400;
  color: #3D3D3D;
}

.description {
  display: flex;
  padding-left: 35%;
  padding-bottom: 70px;
  padding-right: 60px;
}

.description__text {
  color: #8F8F8F;
}

/*слайдйер*/
.slider-slider-slide {
  position: relative;
}

.pagination__bullet {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #3D3D3D;
  opacity: 0.2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.pagination__bullet:hover {
  opacity: 1;
}

.pagination__bullet-active {
  opacity: 1;
}

.pagination__bullet-active:hover {
  opacity: 1;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}

.slider-plan {
  margin-bottom: 50px;
  font-size: 32px;
  font-family: San Francisco Pro Display;
  font-weight: 300;
}

.slider-wrap {
  display: flex;
  justify-content: space-between;
}

.slider-statistics {
  border-top: 1px solid #3D3D3D;
  text-align: left;
  width: calc((100%-120px)/3);
  margin-right: 60px;
}

.slider-statistics:last-of-type {
  margin-right: 0;
}

.slider-km {
  font-size: 26px;
}

.slider-number {
  padding: 30px 0 5px;
  font-size: 64px;
  font-family: San Francisco Pro Display;
  font-weight: 200;
}

.slider-number-km {
  display: inline-block;
  padding: 30px 0 5px;
  font-size: 64px;
  font-family: San Francisco Pro Display;
  font-weight: 200;
}

.slider-text {
  font-family: San Francisco Pro Display;
  font-weight: 400;
  color: #8F8F8F;
}

img {
  width: 100%;
}

.main-padding {
  padding: 200px 0;
}

.title {
  font-size: 32px;
}

.text {
  font-size: 16px;
}

h1, .h1_title {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  color: #3D3D3D;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body, div, .header, p, a {
  font-family: 'San Francisco Pro Display';
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@media (max-width: 1240px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  .main-padding {
    padding: 150px 0;
  }
  .title {
    font-size: 30px;
  }
  .text {
    font-size: 14px;
  }
  .slider-title {
    font-size: 62px;
  }
  .gallery-slider {
    padding: 150px 0;
  }
  .gallery-title {
    width: 35%;
  }
  .map-description {
    flex-wrap: wrap;
  }
  .map-title {
    padding-bottom: 50px;
  }
  .style-img-left {
    padding-right: 20px;
  }
  .style-img-right {
    padding-left: 20px;
  }
  .apartments-description {
    font-size: 56px;
  }
  .apartments-wrapper {
    padding-bottom: 100px;
  }
  .apartments-wrapper-next {
    padding-bottom: 100px;
  }
  .field {
    width: 280px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  .main-padding {
    padding: 100px 0;
  }
  .slider-wrap {
    flex-wrap: wrap;
  }
  .slider-statistics {
    margin-bottom: 50px;
  }
  .slider-title {
    font-size: 42px;
  }
  .description {
    padding-left: 0;
    padding-bottom: 50px;
  }
  .description__text:first-of-type {
    padding-right: 40px;
  }
  .gallery-slider {
    padding: 100px 0;
  }
  .gallery-title {
    width: 70%;
  }
  .gallery-description {
    width: 100%;
  }
  .map-description {
    flex-wrap: wrap;
  }
  .map-title {
    padding-bottom: 50px;
  }
  .style-wrap {
    margin-bottom: 100px;
  }
  .style-title {
    margin-bottom: 20px;
  }
  .style-text {
    width: 100%;
    margin-left: 0;
  }
  .style-img-left {
    padding-right: 20px;
  }
  .style-img-right {
    padding-left: 20px;
  }
  .apartments-description {
    font-size: 36px;
  }
  .apartments-wrapper {
    padding-bottom: 80px;
  }
  .apartments-wrapper-next {
    padding-bottom: 80px;
  }
  .application-adaptive {
    display: block;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 300px;
    margin: 0 auto;
  }
  .main-padding {
    padding: 80px 0;
  }
  .title {
    font-size: 28px;
  }
  .gallery-slider {
    padding: 0 0;
  }
  .slider-title {
    font-size: 40px;
  }
  .description {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .description__text:first-of-type {
    padding-bottom: 20px;
    padding-right: 0px;
  }
  .slider-statistics {
    width: 100%;
  }
  .map-text {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */